{% extends 'base.html' %}

{% block content%}
<section class="engine"><a href="https://mobiri.se/w">html5 templates</a></section><section class="features11 cid-rc4AzwhnrV" id="features11-6">

    

    

    <div class="container">   
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure" style="width: 50%;">
                    <img src="assets/images/mbr-1-952x952.jpg" alt="Mobirise" title="">
                </div>
                <div class=" align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-2">
                        Welcome to Secure Med</h2>
                    <div class="mbr-section-text">
                        <p class="mbr-text mb-5 pt-3 mbr-light mbr-fonts-style display-5">Secure Med is a shared user interface between Network Administrators and Biomed that allows these teams to work together to lock down the security of medical devices on the network, while at the same time providing speed and ease required for Biomed to deliver quality Healthcare.  Secure Med automates the provisioning, inventory and network security using Cisco DNA Center, Cisco Identity Services Engine on a Medical Grade Network.&nbsp;<br></p>
                    </div>

                    <div class="block-content">
                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class=" align-self-center card-img pb-3">
                                    <span class="mbr-iconfont mbri-plus"></span>
                                </div>     
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">
                                        Biomed Interface</h4>
                                </div>
                            </div>                

                            <div class="card-box">
                                <p class="block-text mbr-fonts-style display-7">Secure Med's Biomed interface allows the Biomed team to:<br>- manage medical device inventory<br>- discover and add new medical devices to the network<br>- secure medical devices via predefined IT profiles<br>- request new IT security profiles for new medical device models</p>
                            </div>
                        </div>

                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class="align-self-center card-img pb-3">
                                    <span class="mbr-iconfont mbri-desktop"></span>
                                </div>     
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">Network Administrator Interface</h4>
                                </div>
                            </div>                

                            <div class="card-box">
                                <p class="block-text mbr-fonts-style display-7">Secure Med's Net Admin  interface allows the IT team to:<br>- Manage service requests from the Biomed for new medical devices <br>- Get a snapshot view of the medical devices on the network<br>- Write access profiles for medical devices based on manufacture and model</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>          
</section>
{% endblock %}
